@import 'base/variables.scss';
@import 'base/global.scss';
@import 'base/reset.scss';

@import 'includes/header.scss';
@import 'includes/footer.scss';
@import 'includes/nav.scss';

html,
body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body {
	font-size: 62.5%;
	font-family: Roboto, Arial, sans-serif;
	background: #fff;
}

#wrapper {
	font-size: 1.6em;
	position: relative;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
	height: 100%;

	> main {
		max-width: 600px;
		padding: 25px;
		width: 100%;
		margin: 0 auto;
		box-sizing: border-box;

		article {
			padding: 10px;
			font-size: 1.2em;
			position: relative;
			z-index: 1;

			& + article {
				margin-top: 20px;
			}

			h2 {
				margin: 10px 0;
			}

			.image {
				text-align: center;

				img {
					box-sizing: border-box;
					width: 100%;
					height: auto;

					&[src="/layout/img/loader.gif"] {
						width: auto;
						padding: 75px 0;
						transform: scale(0.5);
						display: inline-block;
						z-index: -1;
					}
				}
			}

			a {
				text-decoration: none;
				color: #2a2831;
			}

			.comments {
				margin-top: 15px;
			}

			.social {
				div,
				iframe {
					vertical-align: top;
					line-height: 0;

					span,
					div {
						vertical-align: top !important;
					}
				}

				iframe {
					max-width: 92px;
				}
			}
		}
	}
}

@media screen and (max-width: 500px) {
	#wrapper > main {
		padding: 10px 10px 25px;

		article + article {
			margin-top: 5px;
		}
	}
}
